/*----------------------------------------------------------------------------------
Project     :  Auducat - Online Education Template
-------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------
[Table of contents]
default css
topbar area
header area
hero area
counter area
course area
about area
filter area
testimonial area
instructor area
newsletter area
blog area
footer area
--------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    default css
---------------------------------------------------------------------------------------*/


/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Poppins&display=swap'); */


/*-------------------------------------------------------------------------------------
    font-face css
---------------------------------------------------------------------------------------*/


/* @font-face {
    font-family: Font Awesome\ 5 Brands;
    font-style: normal;
    font-weight: 400;
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}

@font-face {
    font-family: Font Awesome\ 5 Free;
    font-style: normal;
    font-weight: 400;
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.svg#fontawesome) format("svg")
}

@font-face {
    font-family: Font Awesome\ 5 Free;
    font-style: normal;
    font-weight: 900;
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.eot);
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.svg#fontawesome) format("svg")
} */

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
    color: #2878eb;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}

::-webkit-input-placeholder {
    /* Edge */
    font-family: 'Jost', sans-serif;
    color: #6b6a75;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: 'Jost', sans-serif;
    color: #6b6a75;
}

::placeholder {
    font-family: 'Jost', sans-serif;
    color: #6b6a75;
    font-size: 16px;
}

a,
button {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

a {
    color: #120f2d;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    display: block;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    line-height: 60px;
}

h3 {
    font-size: 40px;
    line-height: 50px;
}

h4 {
    font-size: 28px;
    line-height: 38px;
}

h5 {
    font-size: 20px;
    line-height: 30px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #6b6a75;
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #1980FA;
}

.button {
    padding: 17px 25px;
    background: #f14d5d;
    display: inline-block;
    border-radius: 5px;
}

.button a {
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
}

.button a:hover {
    color: #fff;
}

.button svg {
    margin-left: 4px;
    font-size: 14px;
}